@font-face {
    font-family: "Montserrat";
    src: url('./assets/font/Montserrat-Regular.ttf') format('truetype');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
    font-family: "Montserrat", sans-serif;
}
*{
    font-family: "Montserrat", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
    background-color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif !important;
}

#root, .main-container {
    height: 100%;
}

.main-container {
    position: relative;
    display: flex;
    flex-direction: column;

}

header {
    background-color: rgb(27, 27, 27);
    color: white;
    height: 15%;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.solde {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 800;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.solde span {
    font-size: 0.7rem;
    font-weight: 400;
    margin: 0 0 0 5px;
}

.form-add-container {
    position: absolute;
    top: 30%;
    left: 30px;
    background-color: white;
    width: 80%;
    padding: 10px;
    padding-bottom: 60px;
    border-radius: 5px;
}

.form-add {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}

.form-add h2{
    margin: 0;
    padding-bottom: 10px;
    font-size: 1rem;
    font-weight: 700;
}
.form-add-montant-label {
    font-weight: 600;
    font-size: 1.1rem;
}

.form-add-montant {
    line-height: 1.2rem;
    font-size: 1.1rem;
}

.form-add-submit {
    width: 20%;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: rgb(77, 77, 216);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.form-add-button {
    position: absolute;
    bottom: -72px;
    left: 10px;
    border: none;
    background-color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    padding: 8px 13px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 580px;
    box-shadow: 2px 2px 5px 3px rgba(0,0,0,0.75);
    cursor: pointer;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    padding-bottom: 1px;
}

.corner{
    height: 40px;
    width: 100%;
    display: flex;
    margin-bottom: 55px;
}

.corner-left{
    width: 50%;
    height: 100%;
    background-color: rgb(27, 27, 27);
    border-bottom-left-radius: 100%;
    border: none;
}

.corner-right{
    width: 50%;
    height: 100%;
    background-color: rgb(27, 27, 27);
    border-bottom-right-radius: 100%;
    border: none;
}

.filtres {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    right: 10px;
    bottom: -70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    box-shadow: 2px 2px 5px 3px rgba(0,0,0,0.75);
}

.history-inner {
    background-color: rgb(68, 68, 68);
    width: 100%;
}